# Dependencias y módulos generados
/node_modules
/.pnp
.pnp.js

# Archivos locales de desarrollo
.env.local
.env.development.local
.env.test.local
.env.production.local

# Construcción de producción
/build

# Archivos de caché y registros
/.eslintcache
/.yarn/cache
/.cache
/.yarn/unplugged
/.yarn/build-state.yml
/.yarn/install-state.gz
/.yarn/releases
/.yarn/plugins
/.npm
*.log

# Entorno de desarrollo (si utilizas Visual Studio Code)
.vscode

# Archivos generados por IDEs o editores de texto
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.user
*.vscode/
*.vscodeignore

# Otros archivos y directorios generados
.DS_Store
Thumbs.db

# Dependencias específicas de sistema operativo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.js
.pnp.js.map

# Entorno de desarrollo específico (por ejemplo, si usas WebStorm)
.idea

# Configuraciones de TypeScript (si estás usando TypeScript)
tsconfig*.json

# Configuración de linter (si estás usando ESLint)
.eslintcache

# Configuraciones de testing (si estás usando Jest)
/coverage
/.nyc_output

# Dependencias de TypeScript
*.tsbuildinfo

# Dependencias de Next.js
.next/
out/
.cache/
