body {
    margin: 0;
}
.box {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid gray;
    border-radius: 15px;
    width: 70%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    overflow-y: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
@media (max-width: 768px) {
   .box{
    width: 90%;
   }
  }

